.project-item-stats{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.project-item-stats-label{
    margin: 0px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #36413E;
}

.project-item-stats-value-container{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}