.task-working-on-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: #DADADADA;
    transition: transform .2s;
}

.task-working-on-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.task-working-on-label-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-working-on-header-label{
    margin: 0%;
    font-size: 0.9rem;
    font-weight: 600;
    color: #36413E;
}

.task-working-on-icon-wrapper{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    gap: 5px;
}

.task-working-on-icon-lbl{
    margin: 0%;
    font-size: 0.8rem;
    font-weight: 500;
    color: #36413E;
}

.task-working-on-des-lbl{
    margin: 0%;
    font-size: 0.8rem;
    font-weight: 500;
    color: #36413E;   
}

.task-working-on-bottom-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.task-working-on-timer-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 5px;
}

.task-working-on-timer-lbl{
    margin: 0%;
    font-size: 0.6rem;
    font-weight: 600;
    color: #36413E;  
}

.task-working-on-timer-lbl-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10PX;
    width: 100%;
    justify-content: space-between;
}

.task-working-on-timer-es-lbl{
    color: #013000;
    font-weight: 600;
}

.task-working-on-timer-es-r-lbl{
    color: #EB1717;
    font-weight: 600;
    margin-right: 5px;
}

.task-working-on-timer-st-lbl{
    color:#056203;
    margin-right: 5px;
}